# Copia este archivo como .env y rellena los valores reales.
# NUNCA subas .env al repositorio.

DB_HOST=<endpoint-rds>.us-east-1.rds.amazonaws.com
DB_PORT=5432
DB_NAME=pacfeed
DB_USER=pacfeed_user
DB_PASSWORD=<contraseña-segura>

REDIS_HOST=redis
REDIS_PORT=6379

S3_BUCKET=pacfeed-media-<account-id>
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=<key-temporal-del-lab>
AWS_SECRET_ACCESS_KEY=<secret-temporal-del-lab>
AWS_SESSION_TOKEN=<session-token-del-lab>
